  <!--   Banner image -->
  <div class="row">
    <img src="http://placehold.it/1000x450/eee/F69C55?text=Company+banner+image
" alt="Company Banner Image" width="100%" />
  </div>
  <!-- Profile information   -->
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-3">
      <img src="http://placehold.it/138x138/ddd/D08549?text=Company+logo" alt="company logo" width="138px" height="138px" />
    </div>
    <div class="col-lg-7 col-md-7 col-sm-7">
      <h2>Company Name</h2>
      <p>Short description about the comopnay</p>
      <ul class="about-company-list">
        <li>one</li>
        <li> two</li>
        <li> three</li>
        <li> four</li>
      </ul>
    </div>
    <!-- Company Link      -->
    <div class="col-lg-2 col-md-2 col-sm-2">
      <a href="">Company website</a>
    </div>
    <!--  Open jobs    -->
    <div class="col-lg-1 col-md-1 col-sm-1">
      <a href="">Open jobs</a>
    </div>
  </div>
  <!--    Summary one -->
  <div class="row">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem nihil animi veniam magnam omnis reiciendis soluta ipsam, neque eligendi placeat, aliquam temporibus debitis aspernatur nobis laborum ab ea molestias nesciunt.</p>
  </div>
  <!--    Sumaary two -->
  <div class="row">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque ex assumenda voluptatem mollitia sapiente architecto! A, eveniet! Quidem, nemo. Numquam facilis atque ut assumenda quo deleniti corporis, dicta rem nulla?</p>
  </div>
  <!--   Tecnology Stack -->
  <div class="row">
    <h2 class="text-center">Technology Stack</h2>
    <ul class="technology-stack-list">
      <li><button class="btn btn-primary">Java</button></li>
      <li><button class="btn btn-primary">Javascript</button></li>
      <li><button class="btn btn-primary">Nodejs</button></li>
      <li><button class="btn btn-primary">Phython</button></li>
      <li><button class="btn btn-primary">C++</button></li>
    </ul>
  </div>
  <!--    Benifits -->
  <div class="row">
    <h2 class="text-center">Company Benifits</h2>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <ul class="pull-right">
        <li>one </li>
        <li>two</li>
        <li>three</li>
        <li>four</li>
        <li>five</li>
      </ul>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <ul>
        <li>five </li>
        <li>six</li>
        <li>seven</li>
        <li>eight</li>
        <li>nine</li>
      </ul>
    </div>
  </div>
  <!--    Open jobs -->
  <div class="row">
    <!--  show opening jobs    -->
  </div>
  <!--    Locations-->
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3"></div>
    <div class="col-lg-9 col-md-9 col-sm-9">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d310841.496698966!2d13.144272846564746!3d52.50720945190788!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a84e373f035901%3A0x42120465b5e3b70!2sBerlin!5e0!3m2!1sen!2sde!4v1463346155453"
        width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>