<div ng-controller="TabsDemoCtrl">
    <uib-tabset active="active" vertical="true">
        <uib-tab index="0" class="nav-item">
            <uib-tab-heading>
                <i class="material-icons nav_item-icon">panorama</i> <span>Banner</span>
            </uib-tab-heading>
            <div>
                <h2 class="edit-input__header">Upload Image</h2>
                <div class="banner-upload">
                    <a href="" class="btn btn-default banner-upload-link">
                        <i class="material-icons banner-upload-link__icon">file_upload</i>
                        <span>Choose a photo</span>
                        <input type="file" name="file" class="file-upload">
                    </a>
                    <p> Recommended dimensions of <strong>1000x450</strong></p>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="1" class="nav-item">
            <uib-tab-heading>
                <i class="material-icons">info</i>
                <span>Info</span>
            </uib-tab-heading>
            <div>
                <h2 class="edit-input__header">Company Information</h2>
            </div>
        </uib-tab>
        <uib-tab index="2" class="nav-item">
            <uib-tab-heading>
                <i class="material-icons nav_item-icon">code</i><span>Tech</span>
            </uib-tab-heading>
            <div>
                <h2 class="edit-input__header">Technology Stack</h2>
            </div>
        </uib-tab>
        <uib-tab index="3" class="nav-item">
            <uib-tab-heading>
                <i class="material-icons nav_item-icon">card_giftcard</i>
                <span>Benefits</span>
            </uib-tab-heading>
            <div>
                <h2 class="edit-input__header">Benefits</h2>
            </div>
        </uib-tab>
        <uib-tab index="4" class="nav-item">
            <uib-tab-heading>
                <i class="material-icons nav_item-icon">account_circle</i><span>People</span>
            </uib-tab-heading>
            <div>
                <h2 class="edit-input__header">Employees</h2>
            </div>
        </uib-tab>
        <uib-tab index="5" class="nav-item">
            <uib-tab-heading>
                <i class="material-icons nav_item-icon">collections</i>
                <span>Gallery</span>
            </uib-tab-heading>
            <div>
                <h2 class="edit-input__header">Gallery</h2>
            </div>
        </uib-tab>
        <uib-tab index="6" class="nav-item">
            <uib-tab-heading>
                <i class="material-icons nav_item-icon">place</i>
                <span>Place</span>
            </uib-tab-heading>
            <div>
                <h2 class="edit-input__header">Office Location</h2>
            </div>
        </uib-tab>
    </uib-tabset>
</div>
